<img class="img-fluid shadow-sm"
    src="https://w0.peakpx.com/wallpaper/158/101/HD-wallpaper-funny-face-halloween-black-face-funny-cat-animal-pisica.jpg"
    alt="">

<mat-nav-list class="mt-3">
    <a mat-list-item [routerLink]="['/stock']">
        <span mat-line>
            <span class="mat-h2">Stock</span>
        </span>
        <img matListItemAvatar src="https://cdn-icons-png.flaticon.com/128/2897/2897808.png" alt="">
    </a>
    <a mat-list-item href="#">
        <span mat-line>
            <span class="mat-h2">Shop</span>
        </span>
        <img matListItemAvatar src="https://cdn-icons-png.flaticon.com/128/869/869432.png" alt="">
    </a>
    <mat-divider></mat-divider>
    <h4 matListItemLine class="m-3">Dashbord</h4>
    <a mat-list-item href="#">
        <span mat-line>
            <span class="mat-h2">Summary</span>
        </span>
        <img matListItemAvatar src="https://cdn-icons-png.flaticon.com/128/2257/2257295.png" alt="">
    </a>
    <a mat-list-item href="#">
        <span mat-line>
            <span class="mat-h2">Customer</span>
        </span>
        <img class="bg-primary" matListItemAvatar src="https://cdn-icons-png.flaticon.com/128/10733/10733402.png" alt="">
    </a>
</mat-nav-list>